.app_layout_wrapper {
  background-color: rgb(19, 36, 48);
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
  direction: rtl;
  font-family: system-ui;
}

.side_menu_wrapper {
  background-color: rgb(27, 52, 69);
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main_content_wrapper {
  flex: 9;
  display: flex;
  flex-direction: column;
}

.meeting_title {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.meeting_room {
  background-color: rgb(17 39 53);
  ;
  /* background-color: rgb(19, 37, 49); */
  flex: 12;
  width: 90%;
  margin: 0% 1% 0 1%;
  max-width: 95vw;
  max-height: 80vh;
  border-radius: 20px
}

.meeting_room_footer {
  flex: 1;
  display: flex;
  justify-content: center;
}

::-webkit-scrollbar {
  width: 1em;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1px grey;
  border-radius: 10px;
}


::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgb(27, 52, 67);
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(24, 46, 59);
}